<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book_path(book), data: { turbo_frame: "show_book" } %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>

<%= turbo_frame_tag :show_book %>
